---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'

const pageTitle = "About Me";

const identity = {
  firstName: "Maeve",
  country: "US",
  occupation: "graduated student",
  hobbies: ["gaming", "hiking", "traveling"],
}

const skills = ["Java", "C#", "Python", "JS", "Astro", "React", "DevOps", "Agile"]
const skillColor = "#7f9670"
const textCase = "uppercase"
---
<BaseLayout pageTitle={pageTitle}>
  <style is:global define:vars={{skillColor, textCase}}>
    h1 {
      color: #637954;
      font-size: 4rem;
    }
    .skill {
      color: #4c613f;
    }
  </style>
  <h2>Who is Maeve?</h2>

  <p>I am a 22 year old who recently graduated college! I have a wide range of hobbies I talk about here on my blog you can see</p>

  <p>Some of my favorite game genre's are roguelikes, FPS, card games and RPGs</p>
  <p>My current favorites are Balatro, Counter-Strike 2 & Poker (Texas Hold'em).</p>
  <p>Here are a few facts about me:</p>

  <ul>
    <li>I am from the {identity.country}</li>
    <li>I am currently seeking new opportunities in the field of software development :D</li>
  </ul>
  <p>My skills and methodologies I have worked with:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <p>Using the resume link you can find all of my experiences from the last four years!</p>
</BaseLayout>