---
import Hamburger from "./Hamburger.astro"
import Navigation from "./Navigation.astro"
---

<header>
    <nav class="nav">
        <Hamburger />
        <Navigation />
    </nav>
    <style>
        .nav {
            background-color: #fefae0;
            text-align: center;
        }
    </style>
</header>