---
import { Icon } from 'astro-icon/components'

const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>
    <Icon size="2.5rem" name={`${platform}`} />
</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: #f1f0ec;
        background-color: #b4895e;
        text-decoration: none;
    }
</style>